.form {
  max-width: 536px;
  width: 100%;
  border-radius: 8px;
  background-color: #ffffff;
}

.data_container {
  padding: 10px 20px;
}

.title {
  font-size: 24px;
  color: #707070;
}

.input_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 16px;
  margin: 32px 0;

  & > :nth-child(3) {
    grid-column: span 2;
  }
}

.button_container {
  display: flex;
  padding: 8px 20px;
  gap: 8px;
  background-color: #ebecec;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.right_section_buttons {
  display: flex;
  gap: 8px;
  margin-left: auto;
}

@media screen and (max-width: 500px) {
  .input_container {
    display: flex;
    flex-direction: column;
  }
}
